body
    background #34495e
    color white
.w-800, .h-800
    width: 800px
    max-width 800px
.w-300
    width 300px
    max-width 300px
.logo-login
    img
        width: 20%
.nav-link
    color: white !important
    text-decoration: none
    :hover
        transition: .5s ease all
        color: #2ecc71
.black
    color: black !important
.clickable
    cursor pointer
.w-30
    width 30%
